extends layout 

block layout-content 
  div.View.WelcomeView
    h1.Banner OPERACIONES
    div.Message
      div.Title
        a(href="/servicios")  Pago servicios
        br
        h3 ___________________
        br
        a(href="/tranferencias") Tranferencia
    div.NavButtons